// Specific CSS for your home-page
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.arguments-elements {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.wrapper-why {
  font-size: 3em;
  text-align: center;
  background-color: $purple;
  background-image: linear-gradient(to right, #0241ba, #0062cf, #0080dd, #009be5, #1eb6ea);
  height: 40vh;
  color: white;
  display: flex;
  align-items: center;
    .banner-why {
      font-weight: 300;
    }
}

.wrapper-join {
  font-size: 2em;
  text-align: center;
  background-color: $purple;
  background-image: linear-gradient(to right, #0241ba, #0062cf, #0080dd, #009be5, #1eb6ea);
  height: 45vh;
  color: white;
  display: flex;
  align-items: center;
    .banner-join {
      font-weight: 300;
        p {
        font-weight: 300;
        }
    }
}

.wrapper-testimonials {
  background-color: $light-gray;
}

.background {
  display: flex;
  position: relative;
  height: calc(100vh - 90px);
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
}

.text-left {
  flex: 0 0 50%;
  padding: 35px;
}

.img-right {
  flex: 0 0 50%;
  height: calc(100vh - 90px);
  background-repeat: no-repeat;
  background-size: cover;
}
