<div class="dashboard-left-navbar hidden-xs">
  <div class="dashboard-left-navbar-components">
      <div>
        <i class="far fa-chart-bar"></i>
        <span>Stats</span>
      </div>
      <div>
        <i class="fas fa-star"></i>
        <span>Top fans</span>
      </div>
      <div>
        <i class="fas fa-user-plus"></i>
        <span>New fans</span>
      </div>
      <div>
        <i class="fas fa-bell"></i>
        <span>Sleeping <br> fans</span>
      </div>
      <div>
        <i class="fas fa-angle-double-up"></i>
        <span>Second <br> timers</span>
      </div>
  </div>
</div>
