
 /* ----------------------- See fan details button -------------------------- */

.btn-see-details-recll {
  cursor: pointer;
  font-size: 10px;
  color: white;
  background-color: red;
  font-weight: bolder;
  border: 1px solid red;
  border-radius: 20px;
  margin-left: 20px;
  padding: 5px 10px
}

/* ----------------------- Fan details main section ------------------------- */

.fan-info-recll {
  overflow: auto;
  position: relative;
  width: 360px;
  min-height: 130px;

  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 7px lightgrey;

  font-size: 10px;
  font-weight: lighter;
}


/* ------------------------ Fan details components -------------------------- */

.fan-info-recll h3 {
  position: absolute;
  top: 6px;
  font-weight: lighter;
  left: 50px;
}

.fan-info-recll img {
  position: absolute;
  top: 10px;
  left: 10px;
}


.fan-info-recll #more-details {
  position: absolute;
  right: 10px;
  top: 15px;
  text-decoration: none;
  color: black;
  margin: 5px 0;
  }



.fan-info-recll #commentNumber {
  position: absolute;
  top: 50px;
  left: 10px;
  margin: 5px 0;
}

.fan-info-recll #nb-of-video-commented {
  position: absolute;
  top: 60px;
  left: 10px;
}

.fan-info-recll #memo {
    background-color: rgba(93, 93, 93, 0.1);
    width: 91%;
    margin: 10px auto;
    padding: 8px;
    top: 80px;
    left: 10px;
    border-radius: 5px;
    position: absolute;
}

