<!-- used to test css components while the website is not on production.
 -->

<ul>
  <li><%= image_tag "julie.jpg", class: "avatar" %></li>
  <li><%= image_tag "julie.jpg", class: "avatar-large" %></li>
  <li><%= image_tag "julie.jpg", class: "avatar-bordered" %></li>
</ul>


<ul>
  <li><a href="#" class="btn">Button</a></li>
  <br>
  <li><a href="#" class="btn btn-xl">Button</a></li>
</ul>

<!-- <div class="card">
  <div class="card_top">
    <div class="card_top_left">
        <%= image_tag "julie.jpg", class: "avatar-large" %>
        <div class="txt">
          <h2>Julie Walt</h2>
          <span>@juwalt</span>
        </div>
      </div>
    </div>
    <div class="card_top_right">
      <span>530 Followers</span>
    </div>
  </div>
  <div class="card_bottom">
    <div class="card_bottom_left">
      <span>Active 3 hours ago</span>
    </div>
    <div class="card_bottom_right">
      <a href="#">See details</a>
    </div>
  </div>
</div>
 -->

