<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Built a one-to-one relationship with your fans!</h1>
    <p>Take care about your fans : Augment your social media experience</p>
    <%= link_to "Show my fans", new_user_session_path, class: "btn btn-lg btn-danger"  %>
  </div>
</div>
<div class="container">
  <div class="arguments-elements">
    <p><i class="far fa-address-card"></i> Access <strong>easily</strong> to your fans informations</p>
    <p><i class="fas fa-comments"></i> Taylor-made your replies & make <strong>meaningful</strong> conversations</p>
    <p><i class="fas fa-users"></i> <strong>One tool</strong> for your all your media accounts & channels</p>
  </div>
  <div class="banner-why">
    <p>See why 50,000+ creators use CreatorPlatform daily</p>
  </div>
  <div class="testimonials">
    <div class="testomnial-1">
      <p>avatar</p>
      <p>“It’s really amazing, I love this app so much”</p>
      <p>Julien Chim</p>
      <p>YouTube Creator since 3 years</p>
    </div>
    <div class="testomnial-2">
      <p>avatar</p>
      <p>“The best thing on earth after Tesla & Space X”</p>
      <p>Elon Musk</p>
      <p>Creator since 21 years</p>
    </div>
    <div class="testomnial-3">
    </div>
  </div>
</div>
