/* TODO: design a CSS grid layout for user dashboard */
.container  {
  display: grid;
  grid-template-columns: 350px 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 30px;
}

.main-section {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}

.contribution-section {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.followers-section {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.repo-section {
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
}

.description-section {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}


@media (max-width: 650px) {
  .container {
    display: flex;
    flex-direction : column;
  }

}
