/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  padding: 10px 0px;
}
.alert-info {
  background: $green;
  padding: 10px 0px;
}
.alert-warning {
  background: $red;
  padding: 10px 0px;
}
