.banner {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background_new");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
  }
  p {
    color: white;
    opacity: .85;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
  }
}
