.btn {
  color: white;
  padding: 15px 50px;
  border-radius: 4px;
  background: $red;
  opacity: 0.85;
  transition: background 0.2s ease;
  border: none;

    &:hover {
      color: white;
      opacity: 1;
      text-decoration: none;
    }
}

.btn-xl {
  padding: 20px 30px;
}

.btn-tab {
  color: $purple;
  padding: 10px 15px;
  border-radius: 2px;
  font-weight: bold;
  transition: background 0.2s ease;
  text-decoration: none;

  a {
    color: #283149;
    text-decoration: none;
  }
}

.btn-tab:hover {
    color: $purple;
    border-bottom: 3px solid $purple;
    text-decoration: none;
    opacity: 0.6;
}

.btn-tab:active {
    color: $purple;
    text-decoration: none;
    opacity: 0.6;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.yt-button {
  color: white;
  padding: 15px 50px;
  border-radius: 4px;
  background: $red;
  opacity: 1;
  transition: background 0.2s ease;
  border: none;
  font-size: 24px;
  box-shadow: 2px;

    &:hover {
      color: $red;
      opacity: 1;
      background: white;
      text-decoration: none;
    }
}
