.btn {
  color: white;
  padding: 15px 50px;
  border-radius: 4px;
  background: $red;
  opacity: 0.85;
  transition: background 0.3s ease;
  border: none;
}
.btn :hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}
.btn-xl {
  padding: 20px 30px;
}

.btn-txt {

}

.btn-tab {
  color: $purple;
  padding: 10px 15px;
  border-radius: 2px;
  font-weight: bold;
  transition: background 0.3s ease;
  border-bottom: 3px solid $purple;
  text-decoration: none;

  a {
    color: #283149;
    text-decoration: none;
  }
}


.btn-tab:hover {
    color: $purple;
    border-bottom: 3px solid $purple;
    text-decoration: none;
    opacity: 0.6;
}

.btn-tab:active {
    color: $purple;
    text-decoration: none;
    opacity: 0.6;
}
