// Show page
.header {
}
.content {
  display: flex;
}

.left-card {
  text-align: center;
  background-color: $purple;
  color: white;
  padding: 30px;
  border-radius: 3px;
  border-right: 1px solid $purple;
  border-top: 1px solid $purple;

  flex: 0 0 300px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;

  .avatar-large {
    margin-bottom: 15px;
  }
}

h3 {
  font-weight: bold;
}
.pseudo {
  font-weight: lighter;
  color: white;
  a {
    color: white;
    font-weight: bolder;
  }
}
.last-msg, .followers {
  font-size: 12px;
}

.memo-btn {
  color: $purple;
}


// single comment card
.all-videos {
  flex-grow: 1;
  padding-left: 10px;
}

.video-comment-card {
  background: white;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #ccc;
  padding: 20px;
  display: flex;
}

.comment-card {
  padding-left: 20px;
  padding-bottom: 20px;
  .date {
    font-size: 13px;
  }

  .txt {
    font-weight: lighter;
  }
}

.parent-comment {
  .txt {
    font-weight: bolder;
  }
}

.child-comment {
  margin-left: 20px;
  border-left: 5px solid #aaa;
}

.creator-comment {
  background: #eee;
}

.video-card {
  img {
    width: 160px;
  }
  .btn-tab, a {
    max-width: 160px;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
    color: #283149;
    border-bottom: none;
  }
}
