// Show page
.header {
}
.content {
  display: flex;
}

.left-card {
  text-align: center;
  padding: 30px;
  border-radius: 3px;

  flex: 0 0 300px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;

  .avatar-large {
    margin-bottom: 15px;
  }
}

h3 {
  font-weight: bold;
}
.pseudo {
  font-weight: lighter;
  color: white;
  a {
    color: white;
    font-weight: bolder;
  }
}
.last-msg, .followers {
  font-size: 12px;
}

.memo-btn {
  padding: 5px 10px;
}


#pinned-comments {
  background: white;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #ccc;
  padding: 40px;
  .date {
    font-size: 13px;
    a {
      color: #777;
      font-weight: lighter;
    }
  }
}

// single comment card
.all-videos {
  flex-grow: 1;
  padding-left: 10px;
  h2 {
    font-size: 16px;
  }
}

.video-comment-card {
  background: white;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #ccc;
  padding: 40px;
  display: flex;
}

.video-card {
  margin-right: 40px;
  img {
    width: 180px;
  }
  .btn-tab, a {
    max-width: 160px;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
    color: #283149;
    border-bottom: none;
  }
}

.video-card-mobile {
  img {
    width: 100%;
    margin-top: 40px;
  }
  .btn-tab, a {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
    color: #283149;
    border-bottom: none;
  }
}

hr {
    padding: 0;
    margin: 0;
    border-color: #eee;
}

.comments {
  flex-grow: 1;
}

.comment-card {
  display: flex;
  align-items: stretch;
  padding: 40px 20px;
}

.comment-card-avatar {

}

.comment-card-i i {
  color: #333;
}

.comment-card-content {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  flex-grow: 1;
  padding-left: 20px;
}

.comment-card-content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .name {
    flex-grow: 1;
    font-weight: bolder;
    i {
      color: #333;
    }
  }
  .date {
    font-size: 13px;
    a {
      color: #777;
      font-weight: lighter;
    }
  }
}
.comment-card-content-bottom {
  .txt {
    font-weight: lighter;
  }
}

.parent-comment {
}

.child-comment {
}

.creator-comment {
  opacity: 0.3;
}

.pinned {
  background: yellow;
}
