.fan-cards {
// display: flex; // TEMPORAIRE ! to delete when we put a bootstrap grid or a display grid
// align-items: center; // TEMPORAIRE ! to delete when we put a bootstrap grid or a display grid
// justify-content: space-around; // TEMPORAIRE ! to delete when we put a bootstrap grid or a display grid
}

.fan-card {
  background: white;
  display: flex;
  flex-flow: column;
  margin: 20px 5px;
  box-shadow: 1px 1px 20px #ddd;
  min-width: 250px;
  height: 100%;

  position: relative; // For the a link, so it can take the whole space of the card
  transition: transform .2s;
  &:hover {
    transform: scale(1.02);
  }
}

.fan-card-mobile{
  background: white;
  display: flex;
  flex-flow: column;
  margin: 20px 5px;
  transition: transform .2s;
  box-shadow: 1px 1px 20px #ddd;
  min-width: 250px;
  &:hover {
    transform: scale(1.02);
  }
}

.fan-card-infos {
  font-size: 14px;
  padding: 20px;
  .fan-name {
    font-weight: bolder;
    // Truncrating text if too long
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .fan-since {
    font-weight: lighter;
  }
}

.fan-card-avatar {
  text-align: center;
  padding: 15px 0px;
}

.fan-card-channel {
  padding: 20px;
  z-index: 2;
  font-size: 14px;
  font-weight: bolder;
  a {
    color: #333333;
  }
}

.fan-card-activity {
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blue;
  max-height: 50px;
  .fan-card-activity-left {
    flex-grow: 1;
    padding: 20px;
    text-align: left;
    border-right: 1px solid white;
  }
  .fan-card-activity-right {
    padding: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    width: 32%;
  }
}

.fan-card-memo {
  padding: 0px 10px;
  padding-bottom: 10px;
  background-color: $blue;
}

.fan-card-sticky {
  position: sticky !important;
  top: 0 !important;
}

.fan-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
