.fard {
  margin-right: 4px;
  width: 296px;
  height: 136px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 3px;
}

.fard-top {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  align-items: CENTER;
  padding: 10px;
  height: 92px;

  .atxt {
    margin-left: 10px;
  }
}

.fard-top, span {
  font-size: 13px
}

.fard-top-left {
  max-width: 100%;
  display: flex;
  align-items: center;
  .txt {

  }
}
.fard-top-right {
  max-width: 100%;
}

.fard-bottom {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  display: flex;
  padding: 10px;
  border-top: 1px solid #283149;
  height: 46px;

  .fard-bottom-right {
    margin-left: 10px;
    border-left: 1px solid #283149;
  }

  .fard-bottom-right a {
    text-decoration: none;
    color: #283149;
    font-size: 10px;
    font-weight: bolder;
    margin-left: 10px;

  }
  .fard-bottom, .fard-bottom-left, ul, span, .fas {
    font-weight: lighter;
    font-size: 10px;
    text-align: right;
  }
}
  h2 {
    font-size: 14px;
  }

ul {
  list-style-type: none;
}

