textarea {
  font-size: 16px !important;;
  border: 0px solid !important;;
  background-color: white !important;;
  border-radius: 0px !important;
  resize: none;
  width: 230px !important;
  height: 150px !important;
  opacity: 0.8;
}
