.stats-card {
  background: white;
  display: flex;
  flex-flow: column;
  margin: 20px 5px;
  box-shadow: 1px 1px 20px #ddd;
  height: 300px;
  align-items: center;
  justify-content: center;

  position: relative; // for the a link, to take the whole spac eof the card
  transition: border .3s;
  border-bottom: 3px solid rgba(250,0, 0, 0); //To avoid div resizing we put a transparent border
  &:hover {
    border-bottom: 3px solid rgba(250,0, 0, 0.6);
  }
}
.stats-label {
  position: absolute;
  color: #aaa;
  font-size: 16px;
  top: 15px;
  left: 15px;
}
.stats-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  width: 230px;
  height: 230px;
  .stats-number {
    font-size: 34px;
    font-weight: bolder;
  }
  .stats-numberlabel {
    font-size: 16px;
    font-weight: bolder;
  }
  .stats-numbersublabel {
    padding-top: 10px;
    font-size: 12px;
    font-weight: lighter;
    color: #aaa;
    width: 50%
  }
}

.stats-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
